$mainFont: Helvetica, sans-serif;
$mainColor: rgb(92, 92, 92);
$headerFontSize: calc(26px + 0.005*100vw);
$bodyFontSize: calc(18px + 0.01*100vw);
$breakpoint: 960px;
// $mainColor: blue;
$linkColor:#c5a2c8;
body {
  margin: 2% 5% 10% 5%;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: $mainFont;
  color: $mainColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    color: inherit;
    &:visited {
      color: $linkColor;
    }
  }
  .grid {
    .header {
      font-size: $headerFontSize;
      font-weight: bold;
    }
    .navLink *{
      text-decoration: none;
      color: $linkColor;
    }
    .picContainer {
      position: relative;
      $imWidth: 15rem;
      .harrypic {
        width: $imWidth;
        border-radius: 50%;
        opacity: 80%;
      }
    }
    .divider {
      background-color: $mainColor;
    }
    font-size: $bodyFontSize;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
